.week-range { display: block; }


mb-card {
  transition: background 0.3s,
  border-color 0.3s;
  cursor: pointer;
  max-width: 300px;
  &.up    { background: #EAF3DE; border-color: #3B6D11; }
  &.down  { background: #FCEBEB; border-color: #A32D2D; }
  &.off   { background: #f5f5f5; opacity: 0.7; filter: grayscale(0.4); }
}

@media (max-width: 540px) {
  .week-range { display: none; }
  mb-card {
    max-width: 100%;
  }
}
.daily {
  border-radius: var(--d2);
  background-color: rgba($color: #000000, $alpha: 0.05);
  border: 1px solid;
  border-color: rgba($color: #000000, $alpha: 0.05);
  mb-info-block {
    display: flex;
  }
}
.price {
  font-size: var(--d6);
  font-weight: 600;
}

hr {
  opacity: 0.5;
}
