.grid {
  display: grid;
  max-width: 1400px;
  min-width: 1200px;
  grid-template-columns: repeat(4, 1fr); /* 2 cols desktop */
  gap: 16px;
}

@media (max-width: 520px) {

  .grid {
    grid-template-columns: 1fr;
    max-width: 100%;
    min-width: 100%;
  }
}
